// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-wrap {
    position: relative;
    margin: 2vh;
    display: flex;
    align-items: flex-start;
    background: #eeeeeead;
    padding: 3vh;
    .comment {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        .comment-username {
            font-weight: 600;
        }
        .comment-published-data {
            font-size: 10px;
            color: #333;
        }
    }
    .fa-times{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
.comment-avatar {
    margin: 6px 7px 0 0;
    width: 75px;
    height: 75px;
}