// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles-item{
    border: .5px solid #999;
    border-radius: 5px;
    padding: 10px;
    margin: 3vh;
}